#menu{
    /*position: fixed;*/
    height: 6rem;
    width: 100%;
    background-color: #FF6C01;

    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

}
.nav{
    list-style: none;
    width: 360px;
    height: 25px;
    margin-left: 2rem;
	
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
       
}
.text{
    /*display: block;*/
    margin: 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: white;
}
.logo{
    width: 10rem;
}
