

body{
    font-family: 'Signika', sans-serif;
}

.vt{
    margin:auto;
    margin-top:7rem;
    width:90rem;
    height:50rem;
    background-color:rgba(8, 25, 45, 0.91);
    position:relative;
    border-radius:2%;
    top:3rem;
}



.bt{
    margin-left:80rem;
    font-size:1.2rem;

   
    background-color:rgb(224, 128, 2);
    padding:0.6rem;
    border-radius:5%;
    font-size:1.6rem;

    cursor:pointer;
    font-weight: 600;
    text-decoration:none;
    color:rgba(12, 12, 59, 0.851);
   
}


.bt:active {
        transform: scale(0.98);
        /* Scaling button to 0.98 to its original size */
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
        /* Lowering the shadow */
        background-color: rgba(246, 161, 70, 0.918);
    }

.barra{
        width:40rem;
        height:40rem;
        position:absolute;
        margin-top:3rem;
        margin-left:4rem;
    }


.barra img{
        height:100%;
        width:100%;
        border-radius:2%;
}

.us {
    position:absolute;
    margin-left:55rem;
    margin-top:7rem;
}

.data_user{

    background-color: aliceblue;
    border-radius: 2%;
    width:40rem;
    height:40rem;
    margin-left:47rem;
    margin-top:2rem;
    display:flex;

}



.data_user div{
    margin-top:5rem;
    margin-left:0.8rem;
}

.data_user p{
    margin-top:1rem;
    background-color: rgba(197, 227, 254, 0.81);
    border-radius:2%;
    padding:1rem;
    font-weight:600;
    font-size:0.97rem;
}



/*--------------------*/



.bt_menu{
    width:20rem;
    height:4.5rem;
    color:white;
    
    font-size:1.5rem;
    
    text-decoration: none;
    font-family: Candara;
    cursor:pointer;
    transition:1s;
    margin-top:0.5rem;
    text-align:center;
    padding-top:0.5rem;
    padding-right:1rem;

    border-bottom: rgba(255, 106, 0, 0.841) solid 2px;
    
    
    
}

.bt_menu:hover {
    color:white;
    width:20rem;
    height:4.5rem;
    background-color: rgba(255, 106, 0, 0.649) ;
    transition:1s;

}

.bt_menu:visited {
    color:white;
    width:20rem;
    height:4.5rem;
    background-color: rgba(255, 106, 0, 0.649) ;
   

}

#barra_izquierda{
    width:20rem;
    height:67.5rem;
    background-color:rgb(12, 12, 59);
    position:absolute;
    display:flex;
    flex-direction: column;
    position: fixed;
	left: 0; 
	top:6rem;
	position: fixed;

}



/*---------------Productos-----------------*/

#producto{
    margin-top:10rem;
    height:auto;
    width:110rem;
    display:flex;
    flex-direction:row;
    
    margin:auto;
    margin-left:30rem;
    
    
}

#producto1{
    margin-top:10rem;
    height:auto;
    width:110rem;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:auto;
    margin-left:30rem;

    
}

#producto2{
    margin-top:10rem;
    height:auto;
    width:110rem;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:auto;
    margin-left:30rem;
    
}

#producto3{
    margin-top:10rem;
    height:auto;
    width:80rem;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:auto;
    margin-left:30rem;
    
}

.caja1{
    width:50rem;
    height:43rem;

    margin-top:10rem;
    border-radius:10px;
    background-color: white;
    margin-right:2rem;
    
}

.id_product{
    text-align:center;
    align-items: flex-end;
    background-color:  rgb(255, 187, 0) ;
    height:auto;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}

.img_product{
    width:100%;
    height:19rem;
    padding:0.5rem;
    
}

.titulo_product{
    height:auto;
    text-align: center;
    font-size:1.5rem;
    background-color: rgb(255, 187, 0);
    padding-top:0.5rem;
    font-weight: 800;
    font-family:Arial, Helvetica, sans-serif;
}

.descripcion{
    padding:0.8rem;
    font-size:1.6rem;
    text-align:justify;
    font-family:Arial, Helvetica, sans-serif;
}


/*----------------------------------*/




#caja_product_vendidos{
    margin:auto;
    margin-top:13rem;
    width:90rem;
    height:50rem;
    background-color:rgba(212, 212, 212, 0.812);
    display:flex;
    
    box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.682);
    border-radius:20px;
    padding-bottom: 2rem;
    margin-left:38rem;
   
}

.Tabla{
    margin:auto;
    width:30rem;
    height:auto;
    padding-top:6rem;
    margin-right:0rem;
}


.title{
    font-size:25px;
    font-weight:800;
    position:absolute;
    margin-top:2rem;
    margin-left:22.5rem;
  
}

.Tabla1{
    margin:auto;
    width:30rem;
    height:auto;
    padding-top:1rem;
}

.columnas{
    background-color:  rgba(197, 227, 254, 0.712)  ;
    text-align:center;
    padding:1rem;
}

.columnas1{
    background-color: rgb(255, 187, 0) ;
    text-align:center;
}

.casillas{
    padding:0.5rem;
    font-size:1.5rem;
    border:rgba(12, 12, 59, 0.6) solid 5px;
}

.casillas1{
    padding:0.5rem;
    font-size:1.5rem;
    border:rgba(12, 12, 59, 0.6) solid 5px;
}


/*-------------------------------------------*/


#caja_categoria_productos{

    margin:auto;
    margin-top:13rem;
    width:90rem;
    height:50rem;
    background-color:rgba(212, 212, 212, 0.812);
   display:flex;
   
   box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.682);
    
    border-radius:20px;
    padding-bottom: 2rem;
    margin-left:38rem;
   

}


/*---------------------------------------------*/

#caja_products_option{
   
    height:auto;
    width:100rem;
    margin:auto;
    display:flex;
    background-color:rgba(212, 212, 212, 0.812);
    border: rgba(0, 0, 0, 0.682) solid 5px;
    margin-left:35rem;
}


.TablaA{
    text-align:center;
    margin-top:7rem;
    height:auto;
    padding-top:1rem;
    margin-left:5rem; 

    padding:5rem;

    border-radius: 10px;
}

.columnas2{
    background-color: rgb(255, 187, 0) ;
    text-align:center;
    font-weight: 800;
 
    
}

.casillas2{
    padding:0.5rem;
    font-size:1.5rem;
    border:rgba(12, 12, 59, 0.6) solid 5px;
    height:5rem;
}


.columnasA{
    background-color:  rgba(197, 227, 254, 0.712)  ;
    text-align:center;
    padding:1rem;
}

.casillasA{
    height:5rem;
    width: 10rem;
    padding:0.5rem;
    font-size:1.5rem;
    border:rgba(12, 12, 59, 0.6) solid 5px;
}

.casillast{
    height:5rem;
    width: 30rem;
    padding:0.5rem;
    font-size:1.5rem;
    border:rgba(12, 12, 59, 0.6) solid 5px;
}

/*--------------------------------------*/

#carts_has_products{
    display:flex;
    width:100rem;
    margin-left:35rem; 
    background-color:rgba(212, 212, 212, 0.812);
    padding:5rem;
    border-radius: 10px;
    margin-top:7rem;
}

.Tablab{
    text-align:center;
    height:auto;
    padding-top:1rem;
    margin-right:2rem;
    margin-left:2rem;

}

/*-----------------------------------------*/
